.navs {
  margin:0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.Logovertical {
  height: 32px;
  margin: 16px;
  background: rgba(255,255,255,.2);
  border-radius: 6px;
  color: #e6f4ff;
    text-align: center;
}
.LogoText{
  padding-top: 3px;
    font-size: 16px;
}